<li class="list-group-item  d-flex justify-content-between align-items-center" (click)="view()">
  <span class="w-20">{{kitten.name}}</span>
  <span class="w-10">{{kitten.speed}}</span>
  <span class="w-10">{{kitten.strength}}</span>
  <span class="w-10">{{kitten.cuteness}}</span>
  <span class="w-10">{{battlescoreService.calculateBattlePoints(kitten) |
  number:'1.0-2'}}</span>
  <div class="button-bar">
    <a href="/detail/{{kitten.id}}">Edit</a>
    <a (click)="delete()">Delete</a>
  </div>

</li>
