@import "~src/assets/scss/variables";


.button-bar {
  width: 15% !important;
  display: flex;
  cursor: pointer;
  justify-content: space-between;

  a {
    color: white;

    &:hover {
      text-decoration: underline;
    }
  }

}

.w-10 {
  width: 10%;
  text-align: right;
}

.w-20 {
  width: 20%;
}

.list-group-item {
  span {
    color: white;
  }
  background-color: $dark;
  border: none;
  border-bottom: 2px solid $blue;
  font-size: 1.4em;
  height: 3em;
}
