@import "~src/assets/scss/variables";

.header-text {
  font-family: metal, serif !important;
  text-align: center;
  font-size: 7em;
  margin: 30px 0 30px 0;
  text-decoration: none;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s;
  color: #ffffff;
  cursor: pointer;
  text-shadow: 0 0 2px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #ff00de, 0 0 35px #ff00de, 0 0 40px #ff00de, 0 0 50px #ff00de, 0 0 75px #ff00de;

  &:hover {
    color: #ffffff;
    text-shadow: 0 0 5px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #ff00de, 0 0 70px #ff00de, 0 0 80px #ff00de, 0 0 100px #ff00de, 0 0 150px #ff00de;
  }
}

.github-corner svg {
  fill: $pink;
  color: white;
  path {

    text-shadow: 0 0 1px #fff, 0 0 5px #fff, 0 0 5px #fff, 0 0 10px #ff00de, 0 0 15px #ff00de, 0 0 20px #ff00de, 0 0 25px #ff00de, 0 0 34px #ff00de;
  }
}

header {
  margin-bottom: 2em;
}

footer {
  span {
    color: white;
  }

  p {
    color: $blue;
    padding: 0;
    margin: 0;
  }


  a {
    color: white;
  }

}




.nav-link {
  font-family: arcade, serif;
  font-size: 2em;
  color: $blue
}

a {

  &:hover {
    text-decoration: underline;
  }
}

